---
import Layout from "@/layouts/Layout.astro"

const content =
  "The page you're looking for doesn't exist. Try revising the URL or checking the link that brought you here."
---

<Layout title="Page not found" description={content}>
  <div class="container px-12 py-24" data-pagefind-ignore>
    <h1 class="mb-6 scroll-m-20 font-sans-condensed text-5xl">
      404 - Page not found.
    </h1>
    <p class="text-muted">{content}</p>
  </div>
</Layout>
