---
import { Image } from "astro:assets"
import { directorMessage } from "@/content/home.ts"
import benson from "@/images/home/benson.jpg"
---

<section class="container flex flex-col gap-14 p-4 sm:p-6 md:flex-row lg:p-8">
  <div class="grid flex-1 place-items-center max-lg:self-center">
    <Image
      src={benson}
      alt="Benson Honig, CRCE Director"
      class="border-gold aspect-square h-full max-h-64 w-full max-w-64 rounded-full border-4 object-cover object-top"
    />
  </div>
  <div class="flex flex-2 flex-col gap-4">
    <h2 class="text-3xl font-bold">Message from the Director</h2>
    <p class="text-gray-600">{directorMessage}</p>
    <a
      href="/about"
      class="bg-maroon hover:bg-maroon/85 inline w-fit items-center rounded-full px-5 py-2 text-lg font-medium text-white transition-colors duration-250 ease-in-out"
    >
      Learn More
    </a>
  </div>
</section>
