---
import image from "@/images/mcm-dsb-crce.png"
import { Image } from "astro:assets"
---

<div
  class="relative h-full max-h-[500px] overflow-hidden border-b-[6px] border-b-mcmaster-gold bg-black"
>
  <video
    autoplay
    muted
    loop
    class="aspect-video max-h-[500px] w-full object-cover object-center"
  >
    <source src="/video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <Image
    src={image}
    alt="CRCE"
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 brightness-200"
  />
  <button
    class="video-button group absolute bottom-4 left-1/2 flex h-9 w-9 -translate-x-1/2 items-center justify-center rounded-full border-2 border-mcmaster-gold bg-black/50 p-2.5 transition-colors duration-[250ms] hover:bg-black"
  >
    <span class="sr-only">Play/Pause</span>
    <img src="pause.svg" class="invert" alt="Play/Pause" />
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const video = document.querySelector("video") as HTMLVideoElement | null

    const button = document.querySelector(
      ".video-button"
    ) as HTMLButtonElement | null

    const buttonImage = document.querySelector(
      ".video-button img"
    ) as HTMLImageElement | null

    if (video && button && buttonImage) {
      button.addEventListener("click", function () {
        if (video.paused) {
          video.play()
          buttonImage.src = "/pause.svg"
        } else {
          video.pause()
          buttonImage.src = "/play.svg"
        }
      })
    }
  })
</script>
