---
import AlternateGrid from "@/components/AlternateGrid.astro"
import { visionMission } from "@/content/home.ts"
---

<div class="bg-gray-600 p-4 text-white sm:p-6 lg:p-8">
  <div class="container p-0">
    <h2 class="text-3xl font-bold">Vision & Mission</h2>
  </div>
</div>
<AlternateGrid content={visionMission} />
