---
import AlternateGrid from "@/components/AlternateGrid.astro"
import { visionMission } from "@/content/home.ts"
---

<div class="bg-nevada p-8 text-white">
  <div class="container p-0">
    <h2 class="text-3xl font-bold">Vision & Mission</h2>
  </div>
</div>
<AlternateGrid content={visionMission} />
