---
import { Image } from "astro:assets"

interface Props {
  content: Array<{
    title: string
    description: string
    image: ImageMetadata
  }>
}

const { content } = Astro.props
---

<div class="grid md:grid-rows-2">
  {
    content.map((item, i) => {
      return (
        <div class="group grid overflow-hidden md:grid-cols-2">
          <div
            class="self-stretch overflow-hidden"
            class:list={[
              {
                "md:order-2": i % 2 === 0,
              },
            ]}
          >
            <Image
              src={item.image}
              alt={item.title}
              class="h-full w-full object-cover ease-in-out md:scale-105 md:transition-transform md:duration-300 md:group-hover:scale-100"
            />
          </div>
          <div class="m-auto space-y-4 p-6 md:w-2/3">
            <h3 class="text-3xl font-bold">{item.title}</h3>
            <div class="h-1 w-10 bg-mcmaster-maroon" />
            <p class="text-nevada" set:html={item.description} />
          </div>
        </div>
      )
    })
  }
</div>
