---
import { Image } from "astro:assets"

interface Props {
  title: string
  image: ImageMetadata
}

const { title, image } = Astro.props
---

<header class="border-b-gold grid w-full border-b-[6px]">
  <Image
    src={image}
    alt={title}
    class="col-start-1 row-span-full max-h-80 w-full object-cover brightness-[0.7]"
  />
  <h1
    class="col-start-1 row-span-full w-full max-w-4xl self-center justify-self-center px-12 font-sans-condensed text-4xl text-white drop-shadow-lg"
  >
    {title}
  </h1>
</header>

<style>
  h1 {
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
  }
</style>
