---
import { siteLinks } from "@/configs/navigation.ts"
import { cn, isActive, titelize } from "@/lib/utils"

interface Props {
  border?: boolean
}

const { border = true } = Astro.props

const pathname = new URL(Astro.request.url).pathname
---

<div class="px-8 md:px-12">
  <nav
    class={cn(
      "container  px-0 pb-5 pt-6",
      border && "border-b border-b-nevada/20"
    )}
  >
    <ul class="flex gap-[14px] text-sm marker:text-nevada">
      <li>
        <a href="/">Home</a>
      </li>
      {
        pathname
          .split("/")
          .filter((path) => path !== "")
          .map((_, i, arr) => {
            const path = `/${arr.slice(0, i + 1).join("/")}`
            const link = siteLinks.find((link) => link.pathname === path)
            const label = link?.label || titelize(path.slice(1))

            return (
              <li class="list-inside list-disc">
                {isActive(path, pathname) ? (
                  <span class="text-nevada">{label}</span>
                ) : (
                  <a href={path}>{label}</a>
                )}
              </li>
            )
          })
      }
    </ul>
  </nav>
</div>
<style>
  a:hover {
    text-decoration: underline;
  }
</style>
