---
import { Image } from "astro:assets"
import { emails } from "@/configs/contact"
import Address from "@/components/Address.astro"
import dsbLogo from "@/images/mcm-dsb-crce.png"
---

<footer class="relative bg-nevada p-8 text-white md:p-12">
  <div class="absolute -top-[2px] left-0 z-10 h-0.5 w-full bg-nevada"></div>
  <div
    class="container flex flex-wrap gap-8 max-lg:justify-center sm:gap-10 lg:gap-32"
  >
    <div class="flex flex-col items-center">
      <Image src={dsbLogo} alt="DSB Logo" class="w-72 brightness-200" />
    </div>
    <div class="text-sm max-lg:text-center">
      <p class="mb-1.5 font-sans-condensed text-lg font-semibold">
        Address Information
      </p>
      <Address />
    </div>
    <div class="text-sm max-lg:text-center">
      <p class="mb-1.5 font-sans-condensed text-lg font-semibold">
        Contact Information
      </p>
      {
        emails.map((email) => (
          <p>
            Email:{" "}
            <a href={`mailto:${email}`} class="hover:underline">
              {email}
            </a>
          </p>
        ))
      }
    </div>
  </div>
</footer>
