---
import FocusCard from "@/components/FocusCard.astro"
import { focusGroups } from "@/content/home.ts"
---

<div
  class="container grid grid-cols-1 p-8 max-lg:place-items-center md:p-12 lg:grid-cols-3"
>
  {focusGroups.map((group) => <FocusCard {...group} />)}
</div>
