---
import FocusCard from "@/components/FocusCard.astro";
import { focusGroups } from "@/content/home.ts";
---

<div
  class="grid lg:grid-cols-3 grid-cols-1 container max-lg:place-items-center p-12"
>
  {focusGroups.map((group) => <FocusCard {...group} />)}
</div>
