---
import { cn } from "@/lib/utils.ts";
import { Icon } from "astro-icon/components";
const pathname = new URL(Astro.request.url).pathname;

const links = [
  {
    label: "Home",
    pathname: "/",
  },
  {
    label: "About",
    pathname: "/about",
  },
  {
    label: "People",
    pathname: "/people-researchers-students-faculty",
  },
  {
    label: "Initiatives & Services",
    pathname: "/initiatives-services",
  },
  {
    label: "Contact Us",
    pathname: "/contact",
  },
];
---

<header class="bg-mcmaster-maroon text-white text-xl font-sans-condensed">
  <nav class="flex items-center justify-center">
    {
      links.map((link) => (
        <a
          class={cn(
            "hover:bg-white hover:text-black px-8 py-4 inline-flex gap-2 items-center text-center transition-colors duration-300 relative hover:shadow-lg",
            pathname === link.pathname &&
              "after:content-[''] after:absolute after:bottom-0 after:w-[80%] after:h-1 after:bg-white after:left-1/2 after:-translate-x-1/2",
          )}
          href={link.pathname}
        >
          {link.pathname === "/" && (
            <Icon size={20} name="lucide:home" aria-hidden="true" />
          )}
          {link.label}
        </a>
      ))
    }
  </nav>
</header>
