---
import { Icon } from "astro-icon/components"
import { cn, isActive } from "@/lib/utils.ts"
import { siteLinks } from "@/configs/navigation.ts"
import MobileNavbar from "./MobileNavbar"

const pathname = new URL(Astro.request.url).pathname
---

<header class="bg-mcmaster-maroon font-sans-condensed text-xl text-white">
  <nav class="hidden items-center justify-center md:flex">
    {
      siteLinks.map((link) => (
        <a
          class={cn(
            "relative inline-flex items-center gap-2 px-8 py-4 text-center transition-colors duration-[250ms] hover:bg-white hover:text-black hover:shadow-lg",
            isActive(link.pathname, pathname) &&
              "after:absolute after:bottom-0 after:left-1/2 after:h-1 after:w-[80%] after:-translate-x-1/2 after:bg-white after:content-['']"
          )}
          href={link.pathname}
        >
          {link.pathname === "/" && (
            <Icon size={20} name="lucide:home" aria-hidden="true" />
          )}
          {link.label}
        </a>
      ))
    }
  </nav>
  <MobileNavbar pathname={pathname} client:load />
</header>
