---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"
import SearchButton from "./SearchButton.astro"
import crceLogo from "@/images/crce-logo.png"
---

<header
  class="flex items-center justify-between gap-x-12 gap-y-4 bg-gradient-to-b from-white from-85% to-nevada/20 px-6 py-6 pb-4 sm:px-8 md:px-12 md:py-8 md:pb-5 lg:px-16"
>
  <a href="https://www.mcmaster.ca/" rel="noopener noreferrer" target="_blank">
    <Icon name="mcmaster-logo" class="h-20 w-[144px]" />
  </a>
  <Image
    src={crceLogo}
    alt="CRCE Logo"
    loading="eager"
    class="relative object-contain md:-top-1 max-w-[min(100%,394px)]"
  />
  <section class="flex items-center gap-4 text-nevada">
    <SearchButton />
  </section>
</header>

<style>
  @media screen and (max-width: 815px) {
    header {
      flex-wrap: wrap;
    }

    header img {
      order: 999;
      margin-inline: auto;
    }
  }
</style>
