---
import { Icon } from "astro-icon/components"
---

<button
  class="hover:border-maroon flex flex-col items-center border-b-2 border-transparent p-2 pb-0.5 text-lg text-nevada transition-all duration-[250ms]"
  id="search-button"
>
  <Icon name="lucide:search" size={32} />
  Search
</button>
