---
import { Icon } from "astro-icon/components"
---

<dialog
  id="search-dialog"
  class="pagefind-dialog w-full max-w-2xl bg-modal-background shadow-lg md:rounded-lg"
>
  <div class="relative mx-auto max-w-2xl p-4">
    <h2 class="mb-2 text-2xl font-semibold">Search</h2>
    <button
      class="pagefind-dialog-close absolute right-3 top-3 text-nevada transition-colors hover:text-foreground"
    >
      <Icon name="lucide:x" size={24} />
    </button>
    <div id="search"></div>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        // @ts-ignore
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          showImages: false,
        })

        const searchDialog = document.getElementById(
          "search-dialog"
        ) as HTMLDialogElement | null

        const searchInput = document.querySelector(
          ".pagefind-ui__search-input"
        ) as HTMLInputElement | null

        const searchButton = document.getElementById(
          "search-button"
        ) as HTMLButtonElement | null

        const searchCloseButtons = document.querySelectorAll(
          ".pagefind-dialog-close"
        ) as NodeListOf<HTMLButtonElement>

        if (searchDialog) {
          const openDialog = () => {
            searchDialog.showModal()
            if (searchInput) searchInput.focus()
            document.body.style.overflow = "hidden"
          }

          if (searchButton) searchButton.addEventListener("click", openDialog)

          const closeDialog = () => {
            searchDialog.close()
            document.body.style.overflow = "auto"
          }

          searchDialog.addEventListener("click", (e) => {
            if (e.currentTarget === e.target) closeDialog()
          })

          searchCloseButtons.forEach((button) => {
            button.addEventListener("click", closeDialog)
          })
          searchDialog.addEventListener("keydown", (e) => {
            if (e.key === "Escape") closeDialog()
          })
        }
      })
    </script>
  </div>

  <style>
    #search-dialog::backdrop {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(2px);
    }
  </style>
</dialog>
