---
import { Icon } from "astro-icon/components"
---

<button
  id="search-button"
  type="button"
  class="flex flex-col items-center p-2 pb-0.5 text-lg text-gray-500 transition-colors duration-[250ms] hover:text-gray-600"
>
  <Icon name="lucide:search" size={32} />
  Search
</button>
