---
import { Icon } from "astro-icon/components"
---

<button
  class="flex flex-col items-center p-2 text-lg font-medium"
  id="search-button"
>
  <Icon name="lucide:search" size={32} />
  Search
</button>
