---
import AlternateGrid from "@/components/AlternateGrid.astro";
import { visionMission } from "@/content/home.ts";
---

<div class="bg-[#5e6a71] text-white p-8">
  <div class="container p-0">
    <h2 class="text-3xl font-bold">Vision & Mission</h2>
  </div>
</div>
<AlternateGrid content={visionMission} />
