---
import NavHeader from "@/components/NavHeader.astro";
import Navbar from "@/components/Navbar.astro";
import DSBFooter from "@/components/DSBFooter.astro";
import McMasterFooter from "@/components/McMasterFooter.astro";
---

<div class="flex flex-col min-h-screen">
  <NavHeader />
  <Navbar />
  <main class="flex-1">
    <slot />
  </main>
  <DSBFooter />
  <McMasterFooter />
</div>
