---
import NavHeader from "@/components/NavHeader.astro"
import Navbar from "@/components/Navbar.astro"
import DSBFooter from "@/components/DSBFooter.astro"
import McMasterFooter from "@/components/McMasterFooter.astro"
---

<div class="flex min-h-screen flex-col">
  <NavHeader />
  <Navbar />
  <main class="flex-1" data-pagefind-body>
    <slot />
  </main>
  <DSBFooter />
  <McMasterFooter />
</div>
